<div class="container border my-3 shadow-sm bg-light p-5">
  <h1 class="d-flex justify-content-between text-secondary">
    Atualizar review
  </h1>

  <%= render 'form', review_offer: @review_offer, url: edit_review_offer_path, m: :patch %>
</div>

<div class="back-button d-flex justify-content-center p-3">
  <%= link_to 'Voltar', url_for(:back), class: 'btn btn-primary form-control w-50' %>
</div>