<%= render 'layouts/navbar' %>
<div class="container">
  <div class="pt-4">
    <h1 class="titulo">Pesquise um categorias</h1>
  </div>
  	
  <!-- Melhorar barra de pesquisa -->
  <div class="text-light pt-5 text-center pb-5">
      <div class="row justify-content-center mb-2">
        <input class="form-control form-control-lg textos" type="text" placeholder="Digitar categoria ...">
      </div>
      <button type="button" class="btn btn-outline-primary btn-lg">Pesquisar</button>
  </div>

  <!-- Inicio da linha -->
  <div class="row pb-5">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fim da linha -->
</div>