<div class="container pt-4 pb-5 text-center">
  <h1 class="titulo pt-4 pb-1">Criar oferta</h1>

  <h4 class="pt-5">Produto</h4>
  <input class="inputtext" type="text" placeholder="Nome do produto ou serviço ...">

  <h4 class="pt-5">Validade da oferta</h4>
  <input class="inputtext w-25" type="date" placeholder="Digitar categoria ...">

  <h4 class="pt-5">Preço antigo</h4>
  <input class="inputtext w-25" type="number" placeholder="R$ ??,??">

  <h4 class="pt-5">Preço da promoção</h4>
  <input class="inputtext w-25" type="number" placeholder="R$ ??,??">

  <h4 class="pt-5">Descrição</h4>
  <textarea class="inputtext" style="max-height:260px; min-height:40px" id="exampleFormControlTextarea1" rows="2" placeholder="Marca confiavel com preços inperdiveis ..."></textarea>

  <h4 class="pt-5">Inserir fotos</h4>
  <input class="inputtext w-50" type="file" value="ola">

  <div class="text-center pt-5 pb-3">
    <%= button_to  "Cadastrar nova oferta", criaroferta_path, method: :get, class: 'btn-empresas' %>
  </div>
</div>
