<div class="container pt-4 pb-5 text-center">
  <h1 class="titulo pt-4 pb-1">Criar oferta</h1>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h4 class="pt-5">Produto</h4>
        <div class="searchbar_admin ml-1 mr-1">
          <input type="text" placeholder="Nome do produto" class="search_input_admin">
        </div>
    </div>
    <div class="col-12 col-sm-6">
      <h4 class="pt-5">Preço antigo</h4>
      R$ <input class="inputtext w-25" type="number" step="0.01" min="0" placeholder="0,00">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h4 class="pt-5">Validade da oferta</h4>
      <input class="inputtext w-50" type="date" placeholder="Digitar categoria ...">
    </div>
    <div class="col-12 col-sm-6">
      <h4 class="pt-5">Preço da promoção</h4>
      R$ <input class="inputtext w-25" type="number" step="0.01" min="0" placeholder="0,00">
    </div>
  </div>

  <h4 class="pt-5">Descrição</h4>
  <div class="searchbar_admin ml-1 mr-1">
    <textarea class="search_input_admin" style="max-height:260px; min-height:40px" id="exampleFormControlTextarea1" rows="2" placeholder="Marca confiavel com preços inperdiveis ..."></textarea>
  </div>

  <div class="d-flex justify-content-around">
    <h4 class="pt-5">Inserir fotos
    <small class="h6"><input type="file" class="form-control-file mt-1 ml-1" id="exampleFormControlFile1"></small>
    </h4>
  </div>
  <h4 class="pt-5">
    <button class="" id="modalActivate" type="button" data-toggle="modal" data-target="#exampleModalPreview">
      Preview da página
    </button>
  </h4>


  <div class="text-center pt-5 pb-3">
      <%= button_to  "Cadastrar nova oferta", criaroferta_path, method: :get, class: 'btn-empresas' %>
  </div>
</div>

<%= render 'layouts/preview-modal' %>