<%= render 'layouts/navbar' %>
<div class="container">
  <h1 class="titulo pt-4">Cupons</h1>

  <div class="row pb-5">
    <div class="card mb-3" style="max-width: 300px; max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-dark">Nome cupon</h4>
            <p class="card-text"><small class="text-white">Válido até:</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 300px; max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-dark">Nome cupon</h4>
            <p class="card-text"><small class="text-white">Válido até:</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 300px; max-height: 200px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title text-dark">Nome cupon</h4>
            <p class="card-text fs-5"><small class="text-white ">Válido até:</small></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <%= render 'layouts/pagination' %>
</div>
    <!--<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
      
    </div>    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  