<div class="container pt-4 pb-5 text-center">
  <h1 class="titulo pt-4 pb-1">Editar dados</h1>

  <h4 class="pt-5">Nome da empresa</h4>
  <input class="inputtext" type="text" value="Lojinha da Ju">

  <h4 class="pt-5">Descrição</h4>
  <textarea class="inputtext" style="max-height:260px; min-height:40px" rows="3">
   ojinha da Ju foi fundada em 1888, data que hoje, só esta na memoria de dona neide. Tem a visão de oferecer quase os melhores produtos, por quase os melhores preços
  </textarea>

  <h4 class="pt-5">Inserir fotos</h4>
  <input class="inputtext w-50" type="file" value="ola">

  <h4 class="pt-5">Remover alguma foto?</h4>
  <ul class="ulimg">
    <li class="liimg">
      <input type="checkbox" id="myCheckbox1" />
      <label class="labelimg" for="myCheckbox1"><img src="https://picsum.photos/seed/1/100" /></label>
    </li>

    <li class="liimg">
      <input type="checkbox" id="myCheckbox2" />
      <label class="labelimg" for="myCheckbox2"><img src="https://picsum.photos/seed/2/100" /></label>
    </li>

    <li class="liimg">
      <input type="checkbox" id="myCheckbox3" />
      <label class="labelimg" for="myCheckbox3"><img src="https://picsum.photos/seed/3/100" /></label>
    </li>

    <li class="liimg">
      <input type="checkbox" id="myCheckbox4" />
      <label class="labelimg" for="myCheckbox4"><img src="https://picsum.photos/seed/4/100" /></label>
    </li>
  </ul>

  <div class="text-center pt-5 pb-3">
    <%= button_to  "Cadastrar nova oferta", criaroferta_path, method: :get, class: 'btn-empresas' %>
  </div>
</div>
