<%= render 'layouts/navbar_admin' %>
<div class="container">
  <h1 class="titulo pt-4">
    <i class="fa fa-home" aria-hidden="true"></i>Lojinha da Neide
  </h1>

  <div class="row pt-4">
    <div class="col-md-0 col-lg-1"></div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-2 texthome text-center pt-1">
      <i class="fa fa-building-o fa-5x"></i>
      <h6 class="textohome mt-1"><a href ="./empresas" class="text-light">Página da empresa</a></h6>
    </div>


    <div class="col-6 col-sm-4 col-md-3 col-lg-2 texthome text-center pt-1">
      <i class="fa fa-money fa-5x"></i>
      <h6 class="textohome mt-1"><a href ="./todasofertas" class="text-light">Gerenciar ofertas</a></h6>
    </div>

    <div class="col-6 col-sm-4 col-md-3 col-lg-2 texthome text-center pt-1">
      <i class="fa fa-ticket fa-5x"></i>
      <h6 class="textohome mt-1"><a href ="" class="text-light">Gerenciar cupons</a></h6>
    </div>

    <div class="col-6 col-sm-6 col-md-3 col-lg-2 texthome text-center pt-1">
      <i class="fa fa-comment-o fa-5x"></i>
      <h6 class="textohome mt-1"><a href ="./review" class="text-light">Review</a></h6>
    </div>

    <div class="col-12 col-sm-6 col-md-12 col-lg-2 texthome text-center pt-1">
      <i class="fa fa-bar-chart fa-5x"></i>
      <h6 class="textohome mt-1"><a href ="./dashboard" class="text-light">Estatísticas</a></h6>
    </div>
    <div class="col-md-0 col-lg-1"></div>
  </div>

  <div class="row pt-5 text-center">
    <div class="col-12 col-md-4 col-lg-6 pb-3">
      <h4>Classificação da Empresa</h4>
      <h3 class="pt-3">4,9</h3>
      <h5>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </h5>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
      <%= render 'layouts/carousel-simples' %>
    </div>
  </div>

  <div class="pt-5 pb-5">
    <h4>Total de visualização</h4>
    <!-- Melhorar o grafico quando está em uma tela grande -->
    <%= javascript_include_tag "chart" %>
    <canvas id="myChart"></canvas>
  </div>

  <div class="row pt-5 text-center">
    <div class="col-6 col-md-4 pb-3">
      <h4>Suas ofertas <i class="fa fa-money"></i></h4>
      <div class="texthome text-center pt-1 pl-2 pr-2">
        <p>Ofertas ativas <a href="" class="badge badge-pill badge-success">3</a></p>
        <p>Ofertas encerrando <a href="" class="badge badge-pill badge-warning">12</a></p>
        <p>Ofertas encerradas <a href="" class="badge badge-pill badge-danger">36</a></p>
      </div>
    </div>
    <div class="col-6 col-md-4 pb-3">
      <h4>Seus cupons <i class="fa fa-ticket"></i></h4>
      <div class="texthome text-center pt-1 pl-2 pr-2">
        <p>Cupons ativos <a href="" class="badge badge-pill badge-success">2</a></p>
        <p>Cupons encerrando <a href="" class="badge badge-pill badge-warning">4</a></p>
        <p>Cupons encerrados <a href="" class="badge badge-pill badge-danger">12</a></p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <h4>Editar dados da empresa</h4>
      <%= link_to "<i class='fa fa-pencil-square-o fa-5x' aria-hidden='true'></i>".html_safe, editardados_path, class: 'text-dark' %>
    </div>
  </div>
</div>
