<%= render 'layouts/navbar' %>
<div class="container">
  <h1 class="titulo">Pesquisa</h1>

  <div class="row">

    <!-- Menu -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 menupesquisa pl-5 pr-5 mt-5">
      <h3 class="text-center pb-3">Ordenar por:</h3>
      <h5>Raio de busca:</h5>
      <div class="row">
        <p>0 Km<hr class="my-5 w-25">
        <i class="fa fa-circle pt-5" aria-hidden="true">?</i>
        <hr class="my-5 w-25">10 Km</p>
      </div>

      <h5 class="pt-3">categorias</h5>
      <div class="item pl-2">
        <a href="" class="text-success">Alimentação</a>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Campeão</div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Deoclésio</div>
        <div class="descricao pl-2"><i class="fa fa-check-square" aria-hidden="true"></i>Subway</div>
      </div>
      <div class="item pl-2">
        <a href="" class="text-success">Músicas</a>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Pai d'Amanda</div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Spotifyyyy</div>
      </div>
      <div class="item pl-2">
        <a href="" class="text-success">Academias</a>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Aquela lá</div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i>Aquela outra</div>
      </div>
      <!-- style="position: absolute;bottom: 0" -->
      <h5 class="pt-3 pb-4">Lugares Abertos<i class="fa fa-info-circle text-success" aria-hidden="true"></i></h5>
      <h5>Lugares Fechados<i class="fa fa-info-circle text-danger" aria-hidden="true"></i></h5>
    </div>

    <!-- Pesquisa -->
    <div class="col-12 col-sm-6 col-md-8 col-lg-9">
      <div class="row">
        <div class="col-6 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Lojinha da Ju <i class="fa fa-info-circle text-success" aria-hidden="true"></i> </h5>
                <p class="card-text">
                  <div class="float-left pl-2">
                    <i class="fa fa-map-marker" aria-hidden="true">1,9 km</i>
                  </div>
                  <div class="float-right pr-2">
                    <i class="fa fa-star " aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-12 col-md-6 col-lg-4 mt-5">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Lojinha da Ju <i class="fa fa-info-circle text-success" aria-hidden="true"></i> </h5>
                <p class="card-text">
                  <div class="float-left pl-2">
                    <i class="fa fa-map-marker" aria-hidden="true">1,9 km</i>
                  </div>
                  <div class="float-right pr-2">
                    <i class="fa fa-star " aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-12 mt-5 col-md-6 col-lg-4">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Lojinha da Ju <i class="fa fa-info-circle text-success" aria-hidden="true"></i> </h5>
                <p class="card-text">
                  <div class="float-left pl-2">
                    <i class="fa fa-map-marker" aria-hidden="true">1,9 km</i>
                  </div>
                  <div class="float-right pr-2">
                    <i class="fa fa-star " aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-12 mt-5 col-md-6 col-lg-4">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Lojinha da Ju <i class="fa fa-info-circle text-danger" aria-hidden="true"></i> </h5>
                <p class="card-text">
                  <div class="float-left pl-2">
                    <i class="fa fa-map-marker" aria-hidden="true">1,9 km</i>
                  </div>
                  <div class="float-right pr-2">
                    <i class="fa fa-star " aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>