<div id="show-users-container" class="container mt-5 mb-5">
  <div class="row">
    <%= render 'side-menu-card' %>
    <%= render 'card-table', title: 'Minhas Reviews', partial_name: 'user-reviews-content' %>
  </div>
</div>