<div id="show-users-container" class="container pt-5 mb-5">
  <div class="row">
    <%= render 'side-menu-card' %>
		<%= render 'card-table', title: 'Meus Pedidos', partial_name: 'user-orders-content' %>
	</div>
</div>