<div id="show-users-container" class="container pt-5 mb-5">
  <div class="row">
    <%= render 'side-menu-card' %>
    <%= render 'card-table', title: 'Meus Endereços', partial_name: 'user-addresses-content' %>
  </div>
</div>