<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Registrar</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="md-form mb-3">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="email" id="Form-email1" class="form-control validate" placeholder="Jeosvaldo ...">
          <label data-error="wrong" data-success="right" for="Form-email1">Seu nome</label>
        </div>

        <div class="md-form mb-3">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <input type="email" id="Form-email1" class="form-control validate" placeholder="email@email.com ...">
          <label data-error="wrong" data-success="right" for="Form-email1">Seu email</label>
        </div>

        <div class="md-form pb-3">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" id="Form-pass1" class="form-control validate" placeholder="********">
          <label data-error="wrong" data-success="right" for="Form-pass1">Sua senha</label>
        </div>

        <div class="md-form pb-3">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" id="Form-pass1" class="form-control validate" placeholder="********">
          <label data-error="wrong" data-success="right" for="Form-pass1">Repetir a senha</label>
        </div>

        

        <div class="text-center mb-3">
          <button type="button" class="btncontato form-control text-light">Cadastrar</button>
        </div>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2">ou entre com:</p>

        <div class="row my-3 d-flex justify-content-center">

          <i class="fa fa-facebook fa-2x text-primary mr-3" aria-hidden="true"></i>

          <i class="fa fa-twitter fa-2x text-primary mr-3" aria-hidden="true"></i>
          <!--Google +-->
          <i class="fa fa-google fa-2x text-primary" aria-hidden="true"></i>
        </div>
      </div>
      <div class="text-center">
        <a href="" class="btn close text-primary" data-toggle="modal" data-target="#elegantModalForm" data-dismiss="modal">Já é cadastrado?</a>
      </div>
    </div>
    <!--/.Content-->
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->