// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #3e41cc;
$secondary-color: #6439E3;
$tertiary-color: #3e40cc21;
$black-color: #1b1b1b;
$white-color: #f1faee;

.container{
  min-height: 735px;
}
.background{
  background-color: $white-color;
}
.titulo{
  text-align: center;
}


/* Homepage  */
.imghome{
  width: 100%;
  height: 100%;
  min-height: 93vh;
  background-image: url("https://sampahistorica.files.wordpress.com/2014/10/1930-espc3adrito-santo-do-pinhal-vista-da-cidade-ebay2.jpg");
  background-position: center top;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.btn-home {
  border-color: $black-color;
  color: $black-color;
  background-image: -webkit-linear-gradient(45deg,$primary-color 50%, transparent 50%);
  background-image: linear-gradient(45deg, $primary-color 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 12px;
}
.btn-home:hover {
  background-position: 0;
  color: $white-color;
  border-color: $white-color;
}
.btn-home:active {
	position:relative;
	top:1px;
}

// barra de pesquisa
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  border: 2px solid $primary-color;
  opacity: .8;
}
.search_icon{
  height: 38px;
  width: 38px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $primary-color;
  text-decoration:none;
  background-color: #ffffff;
  border: 0;
}
.search_input{
  color: $primary-color;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar.mobile {
  display: none;
}

.searchbar:hover {
  .search_input {
    padding: 0 20px;
    width: 250px;
    caret-color: $secondary-color;
    transition: width 0.4s linear;
  }
  .search_icon {
    background: $secondary-color;
    color: white;
  }
}

.search_input:focus {
  padding: 0 20px;
  width: 250px;
  caret-color: $secondary-color;
  transition: width 0.4s linear;
}
// fim da barra de pesquisa

.textos{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border-bottom: 2px solid rgb(62, 65, 204);
  width: 70%;
  text-align: center;
}


// navbar & footer
.footer-copyright{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
  color: #fff;
  text-align: center;
}

.footer-text{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
  color: #fff;
  text-align: center;
}

.navbar{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
}
// fim navbar & footer

.imgcontato {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(https://franzpc.com/apps/images/bg-01.jpg);
  height: 100%;
  color: white;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 50px;
}

/* Contato  */
.textcontato {
  color: $black-color;
  background-color: $tertiary-color
}
.botaocontato {
	background-color:$primary-color;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:19px;
	padding:16px 39px;
	text-decoration:none;
}
.botaocontato:hover {
  background-color: $secondary-color;
  transition: .9s;
}
.botaocontato:active {
	position:relative;
	top:1px;
}
.textocontato{
  color: $secondary-color;
}
/* fim do contato */

.menupesquisa {
  color: $black-color;
  background-color: $tertiary-color;
  border-radius: 5px;
}

.textreview {
  color: #313131;
  background-color:  #312a2515;
  border-radius: 25px;
  border: 2px solid #312A25;
}

.texthome {
  color: #313131;
  background-color: #312a2515;
  // border-radius: 25px;
  border: 2px solid #312A25;
}
.textohome {
  color: white;
  background-color: #312A25;
}


// cards pesquisa (display)
.descricao{
  display: none;
}
.item:hover .descricao{
  display: block;
}
.hoverWrapper:hover #hoverShow1 {
  display: block;
  transition: .5s;
 }
 .hoverWrapper #hoverShow1 {
  display: none;
  position: absolute;
  background-color: #ff0000;
  width: 250px;
  height: 250px;
  left: 200px;
  top: 100px;
  transition: .5s;
 }

.btncontato {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
  border: white 1px;
  border-radius: 40px 10px; 
  font-size: 28px;
}

.btncontato:hover {
  opacity: 0.7;
  transition: .5s;
 }

 .table{
  border-radius: 10px; 
 }
.btnempresas {
  background-color: #312A25;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btnempresas:hover {
  opacity: 0.7;
  transition: .5s;
}
.btn-empresas {
  border-color: #312A25;
  color: black;
  background-image: -webkit-linear-gradient(45deg, #312A25 50%, transparent 50%);
  background-image: linear-gradient(45deg, #312A25 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 12px;
}
.btn-empresas:hover {
  background-position: 0;
  color: #ffffff;
}

.inputtext {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #312A25;
  border-bottom: 2px solid #312A25;
  width: 70%;
  text-align: center;
}
.inputtext:active {
  border: none;
}


// Imagnes Selecionadas
.ulimg {
  list-style-type: none;
}

.liimg {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

.labelimg {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.labelimg:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.labelimg img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .labelimg {
  border-color: #ddd;
}

:checked + .labelimg:before {
  content: "✘";
  background-color: grey;
  transform: scale(1);
}

:checked + .labelimg img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}


// Cards e o Section
section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0;  
}

.card {
  position: relative;
  min-width: 300px;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.card:hover {
  transform:scale(1.1);
}
.card_red, .card_red .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}
.card_violet, .card_violet .title .fa  {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}
.card_three, .card_three .title .fa  {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}
.option {
  position: relative;
  z-index: 2;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #262fff;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}
.card a:hover {
  color: wheat;
  transition: .5s;
}


/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}


// SideBar
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color:#312A25;
  
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left:-250px;
}


/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  right:15px;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 220px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 40px;
  }

  #wrapper.toggled span {
      visibility:hidden;
      
  }

  #wrapper.toggled   i {
  float:right;
  } 

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

@media(max-width:768px) {
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
  }

  #wrapper.toggled {
    padding-right: 60px;
  }

#wrapper {
      padding-left: 20px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 50px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 140px; 
  }
  
  #wrapper.toggled span {
      visibility:visible;
      position:relative;
      left:70px;
      bottom:13px;
  }

  #wrapper span {
        visibility:hidden; 
    }

  #wrapper.toggled   i {
  float:right;
  } 

  #wrapper   i {
  float:right;
  } 

  #page-content-wrapper {
      padding: 5px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}