// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// colors
$primary-color: #3e41cc;
$secondary-color: #6439E3;
$tertiary-color: #3e40cc21;
$black-color: #1b1b1b;
$white-color: #fcfcfc;
$admin-primary-color: #312A25;
$button-color: #fcbc24;
$menu-color: #ececf4;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

@media(max-width:576px) { //col-
  .oferta-texto-1 {
    margin-right: 10px;
  }
  .oferta-texto-2, .oferta-texto-3 {
    display: none;
  }
}
@media(max-width: 767px) and (min-width: 576px) { //col-sm
  .oferta-texto-2, .oferta-texto-3 {
    display: none;
  }
  .oferta-home {
    width: 50%;
  }
}
@media (max-width: 992px) and (min-width: 767px) { //col-md
  .oferta-texto-2 {
    display: none;
  }
  .oferta-home {
    width: 33%;
  }
}
@media (max-width: 1199px) and (min-width: 992px) { //col-lg
  .oferta-home {
    width: 25%;
  }
}
@media(min-width:1200px) { //col-xl
  .oferta-home {
    width: 20%;
  }
}

.container{
  min-height: 735px;
}
.background{
  background-color: $white-color;
}
.titulo{
  text-align: center;
}


/* Homepage  */
.home {
  overflow: hidden;
}
.homeimg{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 89vh;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
  transition: all 5s;
  &::before {
    content: '';
    filter: brightness(75%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://raw.githubusercontent.com/Project-ONDE/Projeto-ONDE/main/app/assets/images/home.png");
    background-position: center top;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
  }
}
.homeimg:hover {
  &::before {
    content: '';
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition-duration: 9s;
    transition-delay: 1s;
  }
}
.hometext {
  position: relative;
  padding-top: 115px;
  text-shadow: 1px 1px 4px $primary-color
}
.oferta-texto-1 {
  font-family: 'Days One', sans-serif;
  font-size: 18px;
  color: $white-color;
}
.oferta-texto-2 {
  font-family: 'Aclonica', sans-serif;
  font-size: 20px;
  color: #6c8cf4;
}
.oferta-texto-3 {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  color: $white-color;
}
.cupon-texto-1 {
  font-family: 'Rammetto One', cursive;
  font-size: 20px;
  color: $white-color;
}
.cupon-texto-2 {
  font-family: 'Days One', sans-serif;
  font-size: 17px;
  color: $white-color;
}
.porcentagem {
  color: $white-color;
  position: relative;
  border: 3px solid $white-color;
  width: 50px;
  height: 50px;
  top: -20px;
  left: -20px;
}
.hometexttext {
  border-radius: 10px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 21px;
  text-shadow: 1px 1px 4px $admin-primary-color;
}
.hometextcompany {
  line-height: 1.2em;
  min-height: 2.4em;
}
.hometextcupom {
  line-height: 1.2em;
  min-height: 3.6em;
}
.confete {
  border-left: 2px solid $white-color;
}
.botao-oferta {
  background-color: $button-color;
  border: 1px solid $black-color;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 16px;
}
.ofertas {
  background: linear-gradient(-45deg, #826DBF, #0D0524);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 5px;
}

.cupons {
  width: 91%;
  margin-left: 5%;
  margin-right: 4%;
  border-radius: 5px;
  background-color: black;
}
.fundo {
  width: 91%;
  margin-left: 5%;
  margin-right: 4%;
  border-radius: 5px;
}
.cupom-1 {
  border-top: 0px solid #ffffff;
  border-right: 10px solid #ffffff;
  border-bottom: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
  overflow: hidden;
  -webkit-transform: skew(-18deg) translateX(-70px);
      -ms-transform: skew(-18deg) translateX(-70px);
          transform: skew(-18deg) translateX(-70px);
}

.oferta-titulo {
  font-size: 20px;
  color: #F93434;
}
.oferta-titulo span {
  font-size: 12px;
  color: #00C142;
}
.oferta-titulo-2 {
  font-size: 12px;
  color: #A39D9D;
}
.oferta-titulo-3 {
  font-size: 16px;
  color: #6F8CF3;
}
.oferta-titulo-4 {
  font-size: 14px;
  color: $black-color;
}
.empresa-titulo-1 {
  font-family: 'Candal', sans-serif;
  font-size: 18px;
  color: #729DF0;
}
.empresa-titulo-2 {
  font-size: 14px;
  color: #000;
}
.empresa-titulo-botao {
  font-family: 'Happy Monkey', cursive;
  font-size: 18px;
  color: #000;
}



.logo {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  animation: 5s poly infinite alternate ease-in-out;
  margin: 1em auto;
  display: block;
}

@keyframes poly {
  from {
      -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  to {
    -webkit-clip-path: polygon(44% 26%, 58% 38%, 58% 38%, 44% 81%, 44% 81%, 25% 49%);
    clip-path: polygon(44% 26%, 58% 38%, 58% 38%, 44% 81%, 44% 81%, 25% 49%);
  }
}

.positive {
  -webkit-transform: skew(18deg) translateX(140px);
      -ms-transform: skew(18deg) translateX(140px);
          transform: skew(18deg) translateX(140px);
}
.negative {
  -webkit-transform: skew(18deg) translateX(140px);
      -ms-transform: skew(18deg) translateX(140px);
          transform: skew(18deg) translateX(140px);
}
.cupom-2 {
  background-image: url("https://raw.githubusercontent.com/Project-ONDE/Projeto-ONDE/main/app/assets/images/confete.png");
  height: 150px;
  overflow: hidden;
  -webkit-transform: skew(-18deg) translateX(-70px);
      -ms-transform: skew(-18deg) translateX(-70px);
          transform: skew(-18deg) translateX(-70px);
}
.ofertas-home {
  width: 92%;
  min-height: 350px;
  margin-left: 4%;
  margin-right: 4%;
}


.cupom-home {
  margin-left: 20px;
}
.flip-container {
  width: 300px;
  // height: 200px;
  perspective: 1000px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  width: auto;
}

.back {
  transform: rotateY(180deg);
}

.titulo-oferta {
color: $white-color;
}
.pagina-ofertas {
  background: linear-gradient(-45deg, #cc3ce4, #5c1c74);
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 5px;
  color: $white-color;
}
.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

// categorias
.categorias {
  position: relative;
  display: flex;
  justify-content: space-betweens;
  align-items: center;
}
.categorias .box {
  position: relative;
  width: 450px;
  height: 320px;
  background-color: #000;
}
.categorias .box .videoBx {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.categorias .box .videoBx img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
.categorias .box:hover img {
  filter: alpha(opacity=50);
  opacity: 1;
}
.categorias .box .contentBX {
  position: absolute;
  top: 40px;
  bottom: 40px;
  right: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.95);
  transition: transform .5s;
  transform-origin: right;
  transform: scaleX(0);
}
.categorias .box:hover .contentBX {
  transition: transform .5s;
  transform-origin: left;
  transform: scaleX(1);
}
.categorias .box .contentBX .content {
  position: relative;
  padding: 20px 60px;
  opacity: 0;
}
.categorias .box:hover .contentBX .content {
  opacity: 1;
  transition: .5;
  transition-delay: .5s;
}
.categorias .box .contentBX .content h2 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}
.categorias .box .contentBX .content p {
  color: #fff;
  font-weight: 300;
}
// fim de categorias

.card-img-top {
  max-height: 165px;
}

.btn-home {
  border-color: $secondary-color;
  color: $primary-color;
  background-image: -webkit-linear-gradient(45deg,$primary-color 50%, transparent 50%);
  background-image: linear-gradient(45deg, $primary-color 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-size: 16px;
  padding: 2px 4px 2px 4px;
  text-decoration: none;
  border-radius: 12px;
  outline: 0;
}
.btn-home:hover {
  background-position: 0;
  color: $white-color;
  border-color: $white-color;
}
.btn-home:active {
	position:relative;
	top:1px;
}
.img-cupom {
  top: -15px;
  left: -15px;
  position: relative;
}

// barra de pesquisa home
.searchbar{
  position: relative;
  margin-bottom: auto;
  margin-top: auto;
  height: 42px;
  width: 680px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 30px;
  padding: 5px;
  border: 2px solid $primary-color;
  padding: 0px 1px 0px 14px;
}
.search_icon{
  height: 38px;
  width: 38px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $primary-color;
  text-decoration:none;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
}
.search_input{
  color: $primary-color;
  width: 90%;
  color: $black-color;
  border: 0;
  outline: 0;
  background: none;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar.mobile {
  display: none;
}

.searchbar:hover {
  background-color: rgba(255, 255, 255, 0.9);
  .search_input {
    width: 90%;
    caret-color: $secondary-color;
    transition: width 0.4s linear;
  }
  .search_icon {
    background: $secondary-color;
    color: white;
  }
}
.search_input:focus {
  width: 90%;
  caret-color: $secondary-color;
  transition: width 0.4s linear;
}

// barra de pesquisa menu
.searchbar_menu{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid $primary-color;
  opacity: .8;
}
.search_icon_menu{
  height: 28px;
  width: 28px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $primary-color;
  text-decoration:none;
  border: none;
  background-color: #ffffff;
  border: 0;
}
.pesquisar_icon_menu{
  justify-content: center;
  align-items: center;
  color: $primary-color;
  text-decoration:none;
  border: none;
  background-color: #ffffff;
}
.pesquisar_icon_menu:hover{
  background: $secondary-color;
  border-radius: 10px;
  color: white;
  transition: .7s;
}
.search_input_menu{
  color: $primary-color;
  width: 85%;
  border: 0;
  outline: 0;
}
.searchbar_menu:hover {
  opacity: 1;
  transition: .5s;
  .search_icon_menu {
    background: $secondary-color;
    color: white;
  }
}

// barra de pesquisa admin
.searchbar_admin{
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid $admin-primary-color;
  opacity: .8;
}
.search_icon_admin{
  height: 28px;
  width: 28px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $admin-primary-color;
  text-decoration:none;
  background-color: #ffffff;
  border: 0;
}
.search_input_admin{
  color: $admin-primary-color;
  width: 85%;
  border: 0;
  outline: 0;
}
.searchbar_admin:hover {
  opacity: 1;
  transition: .5s;
  .search_icon_admin {
    background: $admin-primary-color;
    color: white;
  }
}

// fim da barra de pesquisa

.textos{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border-bottom: 2px solid rgb(62, 65, 204);
  width: 70%;
  text-align: center;
}


// navbar & footer
.footer-copyright{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
  color: #fff;
  text-align: center;
}

.footer-text{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
  color: #fff;
  text-align: center;
}

.navbar{
  background: linear-gradient(-45deg, $secondary-color, $primary-color);
  border-bottom: 1px solid wheat;
}
.menu {
  max-width: 1024px;
}
// fim navbar & footer

.imgcontato {
  background:
  linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url(https://images5.alphacoders.com/349/349314.jpg);
  height: 100%;
  color: white;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 50px;
}

/* Contato  */
.textcontato {
  color: $white-color;
}
.botaocontato {
	background-color:$primary-color;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:19px;
	padding:16px 39px;
	text-decoration:none;
}
.botaocontato:hover {
  background-color: $secondary-color;
  transition: .9s;
}
.botaocontato:active {
	position:relative;
	top:1px;
}
.texto-primario{
  color: $primary-color;
}
.texto-secundario{
  color: $secondary-color;
}
/* fim do contato */

.menupesquisa {
  color: $black-color;
  background-color: $tertiary-color;
  border-radius: 5px;
}

.menupesquisa2{
  color: $black-color;
  background-color: #fff;
  border-radius: 5px;
}

.textreview {
  color: #313131;
  background-color:  #312a2515;
  border-radius: 25px;
  border: 2px solid #312A25;
}

.btn-review {
  position: absolute; 
  bottom: 9px; 
  right: 9px
}

.texthome {
  color: #313131;
  background-color: #312a2515;
  // border-radius: 25px;
  border: 2px solid #312A25;
}
.textohome {
  color: white;
  background-color: #312A25;
}

.menulateral {
  color: $black-color;
  background-color: $menu-color;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.68);
  border-radius: 5px;
}

.menulateral-destaque {
  color: $black-color;
  background-color: $tertiary-color;
  border-radius: 5px;
}

// ranger
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: $white-color;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $primary-color;
  cursor: pointer;
}

/* cards pesquisa (display) */
// .descricao{
//   display: none;
// }
// .item:hover .descricao{
//   display: block;
// }
.item:hover #descricao {
  display: block;
  transition: .5s;
}
.item #descricao {
  display: none;
  position: relative;
  background-color: white;
  color: $black-color;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.68);
  width: 70vh;
  top: -25px;
  left: -150px;
  transition: .5s;
}

.btncontato {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 100%);
  border: white 1px;
  border-radius: 40px 10px; 
  font-size: 28px;
}

.btncontato:hover {
  opacity: 0.7;
  transition: .5s;
 }

 .table{
  border-radius: 10px; 
 }
.btnempresas {
  background-color: #312A25;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btnempresas:hover {
  opacity: 0.7;
  transition: .5s;
}
.btn-empresas {
  border-color: #312A25;
  color: $black-color;
  background-image: -webkit-linear-gradient(45deg, #312A25 50%, transparent 50%);
  background-image: linear-gradient(45deg, #312A25 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 12px;
}
.btn-empresas:hover {
  background-position: 0;
  color: #ffffff;
}

.inputtext {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #312A25;
  border-bottom: 2px solid #312A25;
  width: 70%;
  text-align: center;
}
.inputtext:active {
  border: none;
}

// Cupons
.back-white {
  background-color: rgba(255, 255, 255, 0.75);
}

// Imagnes Selecionadas
.ulimg {
  list-style-type: none;
}

.liimg {
  display: inline-block;
}

input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

.labelimg {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.labelimg:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.labelimg img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .labelimg {
  border-color: #ddd;
}

:checked + .labelimg:before {
  content: "✘";
  background-color: grey;
  transform: scale(1);
}

:checked + .labelimg img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}


// Cards e o Section
section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 140px 0;  
}

.card {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition: .5s;
}
.card:hover {
  transform:scale(1.1);
}

.cards {
  position: relative;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  background-color: $white-color;
}
.card_red, .card_red .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}
.card_violet, .card_violet .title .fa  {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}
.card_three, .card_three .title .fa  {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  transform: skewY(-5deg) scale(1.5);
}

.title .fa {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}
.title h2 {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price {
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 60px;
}
.option {
  position: relative;
  z-index: 2;
}
.option ul {
  margin: 0;
  padding: 0;
}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a {
  display: block;
  position: relative;
  z-index: 2;
  background-color: #fff;
  color: #262fff;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 20px auto 0;
  line-height: 40px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0,0,0, .1);
}
.card a:hover {
  color: wheat;
  transition: .5s;
}


/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}


// SideBar
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background-color:#312A25;
  
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left:-250px;
}


/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  right:15px;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #312A25;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 220px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 40px;
  }

  #wrapper.toggled span {
      visibility:hidden;
      
  }

  #wrapper.toggled   i {
  float:right;
  } 

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

@media(max-width:768px) {
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right:60px;
  }

  #wrapper.toggled {
    padding-right: 60px;
  }

#wrapper {
      padding-left: 20px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 50px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 140px; 
  }
  
  #wrapper.toggled span {
      visibility:visible;
      position:relative;
      left:70px;
      bottom:13px;
  }

  #wrapper span {
        visibility:hidden; 
    }

  #wrapper.toggled   i {
  float:right;
  } 

  #wrapper   i {
  float:right;
  } 

  #page-content-wrapper {
      padding: 5px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
  u {
    margin-top: 10px;
  }

  .items {
    width: 100%;
    margin: 0px auto;
    margin-top: 100px
  }


}

.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px
}

.slick-slide {
  margin: 10px
}

.slick-slide img {
  width: 100%;
  border: 0px solid #fff
}

/*slide*/

.carousel-inner img {
  width: 100%;
  height: 100%
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px
}

#custCarousel .carousel-indicators>li {
  width: 100px
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75
}

.carousel-item img {
  width: 100%
}


// galeria 
.galeria {
  overflow: hidden;

  background-size: .75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto;
  max-width: 1200px;
  max-height: 1200px;
  
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}

.wrapper IMG {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
  
  &:nth-child(7n + 1) {
    grid-column: 2 / span 2;
  }
  
  &:hover {
    z-index: 2;
    transform: scale(2);
  }
}

.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}