<h3>Criar categoria</h3>
<%= form_for @category do |form| %>
    <p>Nome da categoria: <%= form.text_field :name, placeholder: "Academia ..." %></p>
    <p>Descrição: <%= form.text_field :description, placeholder: "Precisa de um local para ..." %></p>

    <%= form.submit "Criar" %>
<% end %>