<%= render 'layouts/navbar' %>
<%= flash[:success] %>
<%= flash[:error] %>

<div class="home">
  <div class="homeimg">
  <div class="hometext text-light">
    <h1 class="display-4 text-center">
    Bem Vindo ao <strong>ONDE Pinhal</strong>
    </h1>
    <div class="d-flex justify-content-center">
    <p class="hometexttext mt-4 text-justify">Somos uma plataforma de empresas comerciais
      temos mais de 000 empresas cadastradas.
      O que está esperando, faça já sua busca pela
      cidade de Espirito Santo do Pinhal.</p>
    </div>

    <div class="d-flex justify-content-center pt-1">
      <div class="searchbar">
        <input type="text" placeholder="Buscar lugares, marcas e muito mais ..." class="search_input">
        <%= link_to "<i class='fa fa-search' ></i>".html_safe, pesquisa_path, class: 'search_icon' %>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="background">
  <div class="ofertas">
  </div>
  <div class="ofertas-home mt-5">
    <div class="card-group">
      <div class="cards oferta-home">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Sorvete 3 bola kibom</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home pt-1">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home pt-1">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home pt-1">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home pt-1">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
      <div class="cards oferta-home pt-1">
        <img class="card-img-top img-fluid p-1 rounded-top" src="https://a-static.mlcdn.com.br/1500x1500/batata-frita-peito-peru-45g-elma-chips/docemalu/1467/7f512b84a084e6433396b334c703cc2f.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="text-danger">R$ 5,90
            <span class="text-success float-right h6">10x sem juros</span>
          </h5>
          <div style="line-height: 4px;">
            <p class="card-text"><small class="text-muted">Preço: <s>R$ 159,90</s> (Economia de 50%)</small></p>
            <p class="card-text h6">Tempo restante: <small class="text-muted">10:59:01</small></p>
            <p class="text-primary h5 font-weight-normal hometextcompany">Amaciante Ype 1L - Confort e carinho</p>
          </div>
          <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold"> Supermercado Cubatão</span>
          <p class="h5">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
          </p>
          <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold mt-4">Ver Oferta</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>


<!-- Fim de categorias -->
<hr class="my-5">
<!-- Ofertas do dia -->
  
  <!-- Fim de Cupons -->
</div>

