<%= render 'layouts/navbar' %>
<div class="fundo">
  <div class="cat my-3 w-100">
    <div class="categorias row text-justify">
      <div class="box col-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="videoBx">
          <img src="https://www.pfizer.com.br/sites/default/files/inline-images/alimentos-funcionais-o-que-sao-e-para-que-servem.jpg">
        </div>
        <div class="contentBX">
          <div class="content">
            <h2>Ta com Fome?</h2>
            <p>Está precisando almoçar fora de casa? Ou quer conhecer 
              os melhores restaurantes/lanchonete da cidade? Encontre
              aqui mesmo !!! 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col">
      <div class="cards">
        <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/07/daleopizzaria_20200710_144435_0-1280x720.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <div class="bg-success pt-2 px-2 h6 porcentagem2">ENTREGA GRATUITA</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards">
        <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/07/daleopizzaria_20200710_144435_0-1280x720.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <div class="bg-success pt-2 px-2 h6 porcentagem2">ENTREGA GRATUITA</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="cards">
        <img class="card-img-top" src="https://diariodorio.com/wp-content/uploads/2020/07/daleopizzaria_20200710_144435_0-1280x720.jpg" alt="Card image cap">
        <div class="card-img-overlay">
          <div class="bg-warning pt-2 px-2 h6 porcentagem2">MEGA DESCONTO %</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="pt-3">Explore as principais categorias<hr></h4>
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center">
        <p class="m-4 py-1 d-flex justify-content-center" style="border-radius: 5px 20px 5px; background: #BADA55; width:100px; height:90px"><i class="fa fa-usd fa-5x text-light" aria-hidden="true"></i></p>
      </div>
      <p class="d-flex justify-content-center h6">Promoções</p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <p class="m-4 p-1 d-flex justify-content-center" style="border-radius: 5px 20px 5px; background: #BADA55; width:100px; height:90px"><i class="fa fa-truck fa-5x text-light" aria-hidden="true"></i></p>
      </div>
      <p class="d-flex justify-content-center h6">Entrega grátis</p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <p class="m-4 p-1 d-flex justify-content-center" style="border-radius: 5px 20px 5px; background: #BADA55; width:100px; height:90px"><i class="fa fa-glass fa-5x text-light" aria-hidden="true"></i></p>
      </div>
      <p class="d-flex justify-content-center h6">Bares</p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <p class="m-4 p-1 d-flex justify-content-center" style="border-radius: 5px 20px 5px; background: #BADA55; width:100px; height:90px"><i class="fa fa-cutlery fa-5x text-light" aria-hidden="true"></i></p>
      </div>
      <p class="d-flex justify-content-center h6">Restaurantes</p>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center">
        <p class="m-4 p-1 d-flex justify-content-center" style="border-radius: 5px 20px 5px; background: #BADA55; width:100px; height:90px"><i class="fa fa-coffee fa-5x text-light" aria-hidden="true"></i></p>
      </div>
      <p class="d-flex justify-content-center h6">Café</p>
    </div>
    <div class="col d-flex align-items-center">
        <div class="d-flex justify-content-center pt-1 pb-5">
          <div class="searchbar_admin d-flex align-items-center">
            <input type="text" placeholder="Procurar oferta" class="search_input_admin">
            <%= link_to "<i class='fa fa-search' ></i>".html_safe, pesquisa_path, class: 'search_icon_admin' %>
          </div>
        </div>
    </div>
  </div>


  <h4 class="pt-3">Restaurantes <span class="text-success">ABERTOS</span><hr></h4>
  <p class="m-4">O Smartphone Samsung Galaxy A11 é o item perfeito para quem gosta de tela grande!
  Com display Infinito de 6.4 polegadas do Galaxy A11, possui uma proporção ampla que 
  preenche sua tela com conteúdos de ponta a ponta. Assista aos seus vídeos, jogos e 
  streaming ao vivo favoritos em alta definição e com muito mais qualidade.
  Com o design moderno, conta com uma câmera Ultra Wide de 115 graus, como o olho humano, 
  uma Câmera Wide de 13MP para fotos claras e nítidas durante todo o dia e, para completar, 
  uma câmera de profundidade de 2MP para ajustar o desfoque e destacar o que realmente importa. 
  Você merece fotos incríveis.Possui ainda uma bateria de ótima duração, mesmo com uso mais 
  prolongado. Já pensou ter esse aparelho tecnológico na palma da mão?</p>
</div>