<%= render 'layouts/navbar' %>
<div class="fundo">
  <div class="cat my-3 w-100">
    <div class="categorias row text-justify">
      <div class="box col-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="videoBx">
          <img src="https://www.pfizer.com.br/sites/default/files/inline-images/alimentos-funcionais-o-que-sao-e-para-que-servem.jpg">
        </div>
        <div class="contentBX">
          <div class="content">
            <h2>Ta com Fome?</h2>
            <p>Está precisando almoçar fora de casa? Ou quer conhecer 
              os melhores restaurantes/lanchonete da cidade? Encontre
              aqui mesmo !!! 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="pt-3">AvaliaçõesCupons em destaque</h4>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>