<%= render 'layouts/navbar' %>
<div class="fundo">
  <div class="row pt-4 pb-4">
    <div class="col-12 col-md-6 col-lg-8 col-xl-9">
      <h3 class="" style="font-family: 'Akaya Kanadaka', cursive;">loljinha<hr></h3>
      <div class="row">
        <div class="col-3">
          <img class="card-img-top m-2" src="https://diariodorio.com/wp-content/uploads/2020/07/daleopizzaria_20200710_144435_0-1280x720.jpg" alt="Card image cap">
        </div>
        <div class="col-9">
          <h5>4 queijos</h5>
          <p>Quantidade <input type="text" value="1" class="css-input"></p>
          <p>Preço unitario: <span class="text-success">R$ 24,99</span></p>
        </div>
        <div class="col-3">
          <img class="card-img-top m-2" src="https://diariodorio.com/wp-content/uploads/2020/07/daleopizzaria_20200710_144435_0-1280x720.jpg" alt="Card image cap">
        </div>
        <div class="col-9">
          <h5>2 PIZZAS GRANDES +1 REFRI 2 LITROS</h5>
          <p>Quantidade <input type="text" value="1" class="css-input"></p>
          <p>Preço unitario: <span class="text-success">R$ 84,99</span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class=" menulateral-alimento p-2">
        <h4>Carrinho</h4>
        <p class="text-muted"><span class="text-danger">(1x)</span> 4 Quejos<br />
        <span class="text-danger">(1x)</span> 2 PIZZAS GRANDES +1 REFRI 2 LITROS</p>
        <h6>Possue cupom de desconto ?</h6>
        <div class="row justify-content-center">
          <input class="form-control col-7" type="text" placeholder="Buscar Roupa, comida e muito mais...">
          <a href="./pesquisa" class="btn col-4 text-center pt-2" style="background-color: #2454fc;color: #FFF; font-weight: bold;">APLICAR</a>
        </div>
        <hr>
        <h6 class="pt-2">Subtotal: <span class="text-success float-right"> R$ 109,98</span></h6>
        <h6 class="pt-2">Entrega: <span class="text-success float-right"> grátis</span></h6>
        <h6 class="pt-2">Desconto: <span class="text-success float-right"> R$ 00,00</span></h6>
        <h6 class="pt-2">total: <span class="text-success float-right"> R$ 109,98</span></h6>
        <a href="./pesquisa" class="btn col-12 text-center pt-2 mt-2" style="background-color: #2454fc;color: #FFF; font-weight: bold;">Finalizar pedido</a>
      </div>
    </div>
  </div>
</div>