<%= render 'layouts/navbar' %>
<div class="imgcontato">
<div class="container">
  <div class="row pt-2 pb-2">
    <div class="col-sm-12 col-md-6 col-lg-7 textcontato text-center">
      <h3 class="pt-5 pb-4">Entre em contato</h3>
      <form>
        <div class="form-group pt-2">
          <h5>Nome</h5>
          <input type="text" class="form-control" placeholder="Eduardo Marques ...">
        </div>
        <div class="form-group pt-2">
          <h5>Email</h5>
          <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="form-group pt-2">
          <h5>Escolha uma categoria</h5>
          <select class="form-control">
            <option>Sugestões</option>
            <option>Problemas técnicos</option>
            <option>Participar com sua empresa</option>
            <option>Outros</option>
          </select>
        </div>
        <div class="form-group pt-2">
          <h5>Mensagem</h5>
          <textarea class="form-control" style="max-height:260px; min-height:60px" rows="3" placeholder="Gostei do site, mas vocês poderiam melhorar em ..."></textarea>
        </div>
        <div class="form-group pt-4">
          <button type="button" class="botaocontato">Enviar</button>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-5 pt-5">
      <h4><i class="fa fa-map-marker mr-2 texto-secundario pl-3 pr-3"></i>Contato</h4>
      <p class="pl-5 text-light">facebook.com<span class="texto-secundario">/</span>OndePinhal</p>
      
      <h4><i class="fa fa-phone mr-2 texto-secundario pl-3 pr-2 pt-4"></i>WhatsApp</h4>
      <p class="pl-5 text-light">(19) 9 9999-9999</p>
      
      <h4><i class="fa fa-envelope-o mr-2 texto-secundario pl-3 pr-2 pt-4"></i>Suporte</h4>
      <p class="pl-5 text-light">suporte<span class="texto-secundario">@</span>ondepinhal<span class="texto-secundario">.</span>com</p>
      <div class="pt-4 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236444.12542821965!2d-46.925672533668035!3d-22.185399396555038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9b09a4cd335bb%3A0xfa776927afffd27e!2sEsp%C3%ADrito%20Santo%20do%20Pinhal%20-%20SP%2C%2013990-000!5e0!3m2!1spt-BR!2sbr!4v1606431779019!5m2!1spt-BR!2sbr" width="80%" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>

  </div>
</div>
</div>