<%= render 'layouts/navbar' %>
<div class="container">
  <h1 class="titulo pt-4">Cupons</h1>

  <div class="text-light pt-5 pb-4">
    <div class="row mb-2 justify-content-center">
      <input class="form-control form-control-lg col-8" type="text" placeholder="Buscar uma categoria...">
        <a href="./pesquisa" class="btn-primary col-2 text-center pt-2">Pesquisar</a>
    </div>
  </div>

  <div class="row pb-5">
    <div class="card mb-3" style="max-width: 300px; max-height: 175px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="...">
        </div>
        <div class="col-md-8 back-white">
          <div class="card-body">
            <h4 class="card-title text-dark"><span class="text-success">20%</span> em Calçados</h4>
            <footer class="blockquote-footer font-italic font-weight-bold text-dark">Lojinha da ju</footer>
            <p class="card-text pt-2"><span class="text-dark h6">Válido até: <span class="text-success h5">05/01</span></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 300px; max-height: 175px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://static.tonolucro.com/images/empresa/B5e48006e72a55.png" alt="...">
        </div>
        <div class="col-md-8 back-white">
          <div class="card-body">
            <h4 class="card-title text-dark"><span class="text-success">15%</span> em casquinha de morango</h4>
            <footer class="blockquote-footer font-italic font-weight-bold text-dark">Chiquinho</footer>
            <p class="card-text pt-2"><span class="text-dark h6">Válido até: <span class="text-success h5">05/01</span></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 300px; max-height: 175px;">
    <div class="row g-0">
        <div class="col-md-4">
          <img src="https://marcusmattos.files.wordpress.com/2015/01/faixa_250x200.jpg" alt="...">
        </div>
        <div class="col-md-8 back-white">
          <div class="card-body">
            <h4 class="card-title text-dark"><span class="text-success">5%</span> em toda loja</h4>
            <footer class="blockquote-footer font-italic font-weight-bold text-dark">Supermecado Campeão</footer>
            <p class="card-text pt-2"><span class="text-dark h6">Válido até: <span class="text-success h5">15/01</span></span></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <%= render 'layouts/pagination' %>
</div>
    <!--<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
      
    </div>    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://uploads.bemparana.com.br/upload/image/noticia/noticia_552317_img1_academias.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Nome cupon</h5>
            <footer class="blockquote-footer">Válido até <cite title="Source Title">00/00/2020</cite></footer>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  