<%= render 'layouts/navbar' %>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,900|Playfair+Display:400,700,900" rel="stylesheet">

<div class="cover">
  <div class="cover__content">
    <div class="top-section">
      <div class="title-premium">
        <h1 class="title-premium__text">Lojinha da Ju.</h1>
        <div class="title-premium__details">
          <p><a href="https://www.behance.net/gallery/48387413/Magazine-Layout">Fundada em</a></p>
          <p>Abril 2018</p>      
        </div>
      </div>
      <div class="top-section__content">

        <div class="content-preview">
          <div class="content-preview__cat">The Ultimate</div>
          <h3 class="content-preview__title">Journal</h3>
          <p class="content-preview__excerpt">autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat ulla facilsilis at vero eros et accumsan et iusto.</p>
        </div>

        <div class="content-preview">
          <div class="content-preview__cat">Street top pick</div>
          <h3 class="content-preview__title">Fashion Model</h3>
          <p class="content-preview__excerpt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio fugiat consequatur consectetur at, deleniti explicabo reprehenderit.</p>
        </div>  
      </div>
    </div>
    
    <!-- TODO  -->
    <div class="logo-premium">
      <div class="logo-premium__circle">
        CP
      </div>
      <h2 class="logo-premium__text">New session Buy</h2>
    </div>

    <div class="lower-section">
      
      <div class="headline">
        <div class="line line--horizontal line--left"></div>
        <h2 class="boxed-headline">
          Semana da Moda
        </h2>
        <div class="line line--horizontal line--right"></div>
      </div>

      <div class="line line--vertical line--top"></div>
      <div class="line line--vertical line--bottom"></div>

      <div class="spacer"></div>
      <div class="content-preview content-preview--left content-preview--top">
        <div class="content-preview__cat">Modern Dressing</div>
        <h3 class="content-preview__title">Special Summering</h3>
        <p class="content-preview__excerpt">Adipisicing elit. Ipsam dicta, quia similique nulla eum voluptatibus quae laborum, consectetur sunt necessitatibus corrupti quaerat.</p>
      </div>

      <div class="content-preview  content-preview--right content-preview--top">
        <div class="content-preview__cat">Style Random</div>
        <h3 class="content-preview__title">Inside Fashion Pack</h3>
        <p class="content-preview__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi provident vel, architecto numquam nemo repellat.</p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>

      <div class="content-preview content-preview--left content-preview--bottom">
        <div class="content-preview__cat">Group Jenita</div>
        <h3 class="content-preview__title">Sensual Woman Girl</h3>
        <p class="content-preview__excerpt">Doloremque, totam blanditiis itaque ipsam commodi atque, vero, laborum eos quaerat nostrum deleniti laboriosam debitis.</p>
      </div>

      <div class="content-preview content-preview--right content-preview--bottom">
        <div class="content-preview__cat">Power of Beauty</div>
        <h3 class="content-preview__title">Glamour Fashion Week</h3>
        <p class="content-preview__excerpt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab pariatur eaque nihil tempora facere dicta mollitia impedit, nisi eius.</p>
      </div>
    </div>  
    <button type="button" class="btn btn-outline-light btn-sm btn-block mt-3" data-toggle="modal" data-target="#modalCustom">Contato</button>
  </div>

</div>
<div class="text-center">

  

</div>

<!--Modal: Name-->
<div class="modal fade" id="modalCustom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Body-->
      <div class="modal-body mb-0 p-0">

        <!--Google map-->
        <div id="map-container-google-18" class="z-depth-1-half map-container-11"  style="height: 400px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

      </div>

      <!--Footer-->
      <div class=" d-flex justify-content-center">
        <div class="maps-premium row px-4">
          <div class="col-6 py-3">
            <h5>Endereço</h5>
            Av. Ricardo teixeira, 35, <br/>Jardim Espirito santo
          </div>
          <div class="col-6 py-3">            
            <h5>Rede Sociais</h5>
            <span>
              <a href="#" target="_blank">
                <i class="fa fa-2x fa-youtube-play mr-2 text-danger" style="color: #bb0000"></i>
              </a>
            </span>
            <span>
              <a href="#" target="_blank">
                <i class="fa fa-2x fa-facebook-official mr-2" style="color: #3b5998"></i>
              </a>
            </span>
            <span>
              <a href="#" target="_blank">
                <i class="fa fa-2x fa-twitter mr-2" style="color: #00aced"></i>
              </a>
            </span>
            <span>
              <a href="#" target="_blank">
                <i class="fa fa-2x fa-whatsapp mr-2" style="color: #1ED760;"></i>
              </a>
            </span>
            <span>
              <a href="#" target="_blank">
                <i class="fa fa-2x fa-instagram mr-2" style="color: #517fa4;"></i>
              </a>
            </span>
          </div>
          <div class="col-6 py-3">
            <h5>Contato</h5>
            Av. Ricardo teixeira, 35, <br/>Jardim Espirito santo
          </div>
          <div class="col-6 py-3">
            <h5>Feedback</h5>
            Entre em contato em qualque meio digital e ficaremos felizes em ajuda-los
          </div>
        </div>

      </div>
      <button type="button" class="py-1 btn-premium btn-md" data-dismiss="modal">Fechar <i class="fa fa-times ml-1"></i></button>

    </div>
    <!--/.Content-->

  </div>
</div>
<!--Modal: Name-->