<%= render 'layouts/navbar' %>

<div class="fundo">
  <div class="row">
    <!-- Menu -->
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-3 menulateral mb-3 mt-3 text-center">
      <span class="display-4">5</span>
      <p class=" text-warning h5">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <span class="text-primary h6">(35)</span>
      </p>
      <hr class="my-4 w-75">
      <h5>Faixa de preço</h5>
      <h5 class="text-success">
        <i class="fa fa-usd" aria-hidden="true"></i>
        <i class="fa fa-usd" aria-hidden="true"></i>
        <i class="fa fa-usd" aria-hidden="true"></i>
      </h5>
      <hr class="my-4 w-75">
      <h5>Periodo de atendimento</h5>
      <h6 class="float-right">16h</h6>
      <h6 class="float-left">8h</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
      </div>
      <hr class="my-4 w-75">
      <h5>Localização</h5>
      <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <p>Av. Ricardo teixeira, 35, Jardim Espirito santo</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold border-light text-light">Marcar rota</button>
        </div>
      </div>
      <hr class="my-4 w-75">
      <h5>Redes Sociais</h5>
      <div>
        <span>
          <a href="#" target="_blank">
            <i class="fa fa-2x fa-youtube-play mr-2 text-danger" style="color: #bb0000"></i>
          </a>
        </span>
        <span>
          <a href="#" target="_blank">
            <i class="fa fa-2x fa-facebook-official mr-2" style="color: #3b5998"></i>
          </a>
        </span>
        <span>
          <a href="#" target="_blank">
            <i class="fa fa-2x fa-twitter mr-2" style="color: #00aced"></i>
          </a>
        </span>
        <span>
          <a href="#" target="_blank">
            <i class="fa fa-2x fa-whatsapp mr-2" style="color: #1ED760;"></i>
          </a>
        </span>
        <span>
          <a href="#" target="_blank">
            <i class="fa fa-2x fa-instagram mr-2" style="color: #517fa4;"></i>
          </a>
        </span>
      </div>
      <div class="d-flex justify-content-center">
          <button type="button" class="botao-oferta font-weight-bold border-light text-light bg-danger mt-4 mb-2">Ver Cupons & Ofertas</button>
        </div>
    </div>
    <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-9 mt-3"> 
      <h1 class=" text-center display-4">Supermercado Cubatão</h1>
      <%= render 'layouts/carousel' %>

      <div>
        <div class="tabbed">
          <input type="radio" name="tabs" id="tab-nav-1" checked>
          <label for="tab-nav-1"><i class="fa fa-info-circle" aria-hidden="true"></i> Sobre</label>
          <input type="radio" name="tabs" id="tab-nav-2">
          <label for="tab-nav-2"><i class="fa fa-truck" aria-hidden="true"></i> Entregas</label>
          <input type="radio" name="tabs" id="tab-nav-3">
          <label for="tab-nav-3"><i class="fa fa-refresh" aria-hidden="true"></i> Troca</label>
          <input type="radio" name="tabs" id="tab-nav-4">
          <label for="tab-nav-4"><i class="fa fa-repeat" aria-hidden="true"></i> Reembolso</label>
          <div class="tabs">
            <div><h2>Descubra mais sobre nossa empresa</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit. </p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit. Suspendisse tempor, lacus id consectetur sagittis, lorem odio dignissim nulla, a condimentum sem neque sed ligula. Maecenas id risus eros, eget porttitor metus. Quisque pellentesque neque dignissim nisl pellentesque vitae tempus urna eleifend. Nullam egestas, neque id placerat luctus, nibh velit pharetra nulla, vel pretium justo massa ut elit. Vivamus nec auctor nunc.</p></div>
            <div><h2>Entregas</h2><p>Maecenas dictum, urna ut consequat condimentum, est dui commodo diam, ac pretium dui ante eu quam. Curabitur posuere metus nec tellus venenatis placerat. Ut egestas neque in odio vulputate gravida. In at justo ac est laoreet eleifend vel quis arcu. Aliquam erat volutpat. Proin vitae vehicula neque. Nam tempus erat ac ante tincidunt tincidunt. Pellentesque eu nibh sapien. Nunc augue magna, lacinia eget congue eget, mattis id tortor. Fusce id vestibulum neque. Proin tincidunt tellus ut risus lobortis cursus. Duis sit amet urna vel sapien ullamcorper varius.</p></div>
            <div><h2>Troca de mercadoria</h2><p>Duis luctus dolor ac erat luctus hendrerit. Aenean id congue magna. Proin sit amet elit vel lacus ornare dignissim imperdiet nec odio. Maecenas condimentum egestas lorem et laoreet. Donec ut leo non purus rutrum euismod vel faucibus nunc. Curabitur vel mauris nisi, vitae laoreet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ipsum odio, iaculis id vulputate vitae, vestibulum at nunc. Integer non nisl lorem. Quisque lobortis congue semper. Nunc neque nisi, consequat id egestas vitae, porta vel sem.</p></div>
            <div><h2>Politica de reembolso</h2><p>Fusce vel eros eu lectus ultricies fermentum vestibulum adipiscing odio. Suspendisse ultricies, metus nec dapibus pharetra, quam arcu vulputate nisl, a pretium nisi velit id ante. Nunc auctor augue sit amet orci vestibulum id placerat nulla pellentesque. Duis vel quam velit. Ut auctor ipsum quis lacus semper non pretium mi dignissim. Morbi ultrices augue eget nisi hendrerit placerat. Mauris rhoncus urna quis metus congue quis condimentum risus interdum. Nam lobortis lectus et enim laoreet mattis. Integer faucibus ullamcorper erat, at rhoncus leo bibendum sed. Mauris libero urna, placerat non pretium ac, elementum et arcu. Aliquam non tellus diam, vel scelerisque odio. Etiam a quam et enim vehicula feugiat posuere at dui. Phasellus at nisl quam. Integer nisi mi, varius vitae placerat viverra, dapibus vitae massa. Nullam ut orci vitae nisi ornare aliquam in eget orci.</p></div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 col-sm-6 col-md-4 col-lg-3 menulateral mb-3 mt-3">
      <h5 class="text-center" style="color: #6c8cf4">Ultimas Reviews</h5>

      <p><img src="https://i1.wp.com/terracoeconomico.com.br/wp-content/uploads/2019/01/default-user-image.png?ssl=1" alt="..." class="rounded-circle" style="width:40px;"> 
        Adriana Tonietti
      <p>
      <p>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <span class="float-right">17 de março de 2020</span>
      </p>
      <p class="text-justify">Empresa muito boa sofísticada, com
        ar condicionado e tudo mais, adorei a
        expêriencia. Atendimento Genia</p>
      <hr class="my-4 w-75">
      <p class="pt-3"><img src="https://www.diariodocentrodomundo.com.br/wp-content/uploads/2015/01/didi.jpg?width=1200&enable=upscale" alt="..." class="rounded-circle" style="width:40px; height: 40px"> 
        Mocó, Didi
      <p>
      <p>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span class="float-right">17 de março de 2020</span>
      </p>
      <p class="text-justify">Procurei uma empresa assim a vida
        toda, finalmente encontrei, eles tem
        um bebedouro de agua com
        grosselha, é como viver em um filme
        da disney recomendadissimo... <span class="text-primary">Ver mais</span></p>
      <hr class="my-4 w-75">
      <p><img src="https://img.r7.com/images/2016/01/25/88kdfwlfqw_50win3hk6a_file.jpg" alt="..." class="rounded-circle" style="width:40px; height: 40px"> 
        Tobias
      <p>
      <p>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star text-warning" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span class="float-right">17 de março de 2020</span>
      </p>
      <p class="text-justify">Bom !!!</p>

      <hr class="my-4 w-75">
      <div class="d-flex justify-content-center">
        <button type="button" class="botao-oferta font-weight-bold border-light text-light mb-2">Ver todas as Reviews</button>
      </div>
    </div>

    <div class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-9 mt-3">
      <h2 class="pl-3 pt-5">Um poquinho do nosso trabalho</h2>
      <div class="galeria">
        <div class="wrapper">
          <img src="https://source.unsplash.com/random/600x600?water" alt="">
          <img src="https://source.unsplash.com/random/600x600?summer" alt="">
          <img src="https://source.unsplash.com/random/600x600?plants" alt="">
          <img src="https://source.unsplash.com/random/600x600?snow" alt="">
          <img src="https://source.unsplash.com/random/600x600?roses" alt="">
          <img src="https://source.unsplash.com/random/600x600?sky" alt="">
          <img src="https://source.unsplash.com/random/600x600?nature" alt="">
          <img src="https://source.unsplash.com/random/600x600?blossom" alt="">
          <img src="https://source.unsplash.com/random/600x600?ice" alt="">
          <img src="https://source.unsplash.com/random/600x600?spring" alt="">
        </div>
      </div>
      <h2 class="pl-3 pt-5 pb-2">Parceiros</h3>
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="card card-1">
            <div class="card-body">
              <h3>Lojinha A</h3>
              <p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-2">
            <div class="card-body">
            <h3>Lojinha B</h3>
              <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                of mobile UI components, ready to go.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-3">
            <div class="card-body">
            <h3>lojinha C</h3>
              <p>Learn how to easily customize and modify your app’s design to fit your
                brand across all mobile platform styles.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>