<%= render 'layouts/navbar' %>

<div class="pagina-ofertas mt-1">
  <h1 class="titulo pt-4">Milhares de Ofertas estão esperando você</h1>
  <div class="row mb-2 mt-5 justify-content-center pb-4">
    <input class="form-control col-8 col-sm-7 col-md-6 col-lg-5" type="text" placeholder="Buscar Roupa, comida e muito mais...">
    <a href="./pesquisa" class="btn col-3 col-sm-3 col-md-2 col-xl-1 text-center pt-2" style="background-color: #2454fc;color: #FFF; font-weight: bold;">BUSCAR</a>
  </div>
</div>
<div class="fundo">
  <div class="row">
    <!-- Menu -->
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 menulateral mb-3 mt-3">
      <h5 class="text-center">Ordenar ofertas:</h5>
      <div class="d-flex justify-content-center">
        <select class="" name="option">
          <option value="" disabled selected>Relevância</option>
          <option value="1">Avaliação</option>
          <option value="2">Prazo</option>
          <option value="3">Desconto</option>
        </select>
      </div>
      <hr class="my-4 w-75">
      <h5>Raio de busca:</h5>
      <div class="">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p>Distância: <span id="demo"></span> Km</p>
      </div>
      <hr class="my-4 w-75">
      <h5 class="pb-1">Preço</h5>
      <div class="pl-2">
        <h6>Até R$ 500 <small class="text-success">(12)</small></h6>
        <h6>R$ 500 a R$ 1500 <small class="text-success">(92)</small></h6>
        <h6>Acima de R$ 1500 <small class="text-success">(15)</small></h6>
        <h6></h6>
      </div>
      <hr class="my-4 w-75">
      <h5 class="pb-1">Parcelas</h5>
      <div class="pl-2">
        <h6>Até 12x</h6>
        <h6>10x a 5x</h6>
        <h6>até 3x</h6>
        <h6>3x</h6>
      </div>
    
    </div>

    <!-- Ofertas -->
    <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
      <div class="row">
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://www.extra-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1182070226" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 5,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Amaciante Ype 1L - Confort e carinho</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Supermercado Cubatão</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://images-shoptime.b2w.io/produtos/01/00/img/52403/7/52403727_1GG.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold"> R$ 70.000 
                  <span class="text-success float-right pt-1">Entrada + 48x</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Chevrolet Camaro Amarelo 350cc - 2015</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> JF Veiculos</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://media-cdn.tripadvisor.com/media/photo-s/11/de/c2/a7/taca-tdf-tres-bolas-de.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 9,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Sorvete de três bolas kibom</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Açai, Sorvetes & CIA</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://d129q82p91aw7f.cloudfront.net/d1c288dedb45/sutia-sem-bojo-com-renda-preto-44.200x200.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 29,90
                  <span class="text-success float-right pt-1">3x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Sutiã feminino luivitara preto marinho - 47 ao 70</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Espaço feminino</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://cd.shoppub.com.br/rafale/media/cache/0c/1e/0c1e95e971cc26a45dff8214e6566682.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 75,90
                  <span class="text-success float-right pt-1">10x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Cortuno tático femino preto 37 ao 50</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Sapatos Pinhal</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://br.habcdn.com/files/dynamic_content/mesa-de-compensado-naval-2823620_gallery.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold"> R$ 299,90
                  <span class="text-success float-right pt-1">10x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Armario compensado de madeira - cor beje</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Casas Bahia</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://www.palaciodasferramentas.com.br/uploads/produtos/full/90689103-2016-10-9-8-57.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 10,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Martelo para matar tik toker - ultragas</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> JC Materiais de construção</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1 item">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://a-static.mlcdn.com.br/1500x1500/sabao-em-po-omo-lavagem-perfeita-16kg/magazineluiza/223322600/3556921304d1908de39b2046e65de7fe.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 7,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Omo multilação progress - edição pós massacre</p>
                  <i class="fa fa-check-circle text-primary"></i><span class="font-weight-bold oferta-titulo-4"> Supermercado Cubatão</span>
                </div>
                <p class="h5">
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star text-warning"></i>
                  <i class="fa fa-star-o"></i> <span class="text-primary h6">(35)</span>
                </p>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3 p-1 text-center" id="descricao">
            <h5 class="pt-1">Faixa de preço</h5>
            <h5>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
              <i class="fa fa-usd text-success" aria-hidden="true"></i>
            </h5>
            <div>
              <h5 class="pt-2">Aberto por mais: 1h e 59m</h5>
              <h6 class="float-right">16h</h6>
              <h6 class="float-left">8h</h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">14h 01m</div>
              </div>
            </div>
            <h6 class="pt-3">
              <i class="fa fa-1x fa-phone"></i> (19) 99999-9999
            </h6>
            <h6>
              <i class="fa fa-1x fa-envelope-o"></i> lojinhadaju@gmail.com
            </h6>
            <div class="text-center pt-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3694.372689007904!2d-46.748700385096136!3d-22.187938585382042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c9ae09bf22398b%3A0x235d993ca1cef5b1!2sLojinha%20da%20Ju!5e0!3m2!1spt-BR!2sbr!4v1606923293698!5m2!1spt-BR!2sbr" width="100%" height="100" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value / 10;

  slider.oninput = function() {
    output.innerHTML = this.value / 10;
  }
</script>