<%= render 'layouts/navbar' %>
<!--
<div class="container">
  <h1 class="titulo">Parceiros</h1>
</div>
-->
<%= render 'layouts/carousel' %>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 text-center pt-5 pb-4">
      <img class="w-100" src="https://logodownload.org/wp-content/uploads/2014/09/sebrae-logo-1.png" alt="First slide" style="max-height: 175px;">
    </div>
    <div class="col-12 col-sm-8 pt-5"><h3><a href="https://www.sebrae.com.br/sites/PortalSebrae" class="text-dark">Sebrae</a></h3>
      <p class="mt-2 ml-2"> O Serviço Brasileiro de Apoio às Micro e Pequenas Empresas é 
      uma entidade privada brasileira de serviço social, sem fins lucrativos
      que objetiva a capacitação e a promoção do desenvolvimento econômico e 
      competitividade de micro e pequenas empresas, estimulando o empreendedorismo no país.
      </p>
    </div>
  </div>

  <hr class="my-4 w-100">

  <div class="row">
    <div class="col-0"></div>
    <div class="col-12 col-sm-8 pt-5"><h3><a href="https://www.acepinhal.com.br/" class="text-dark">ACE</a></h3>
      <p class="mt-2 ml-2"> 
        A Associação comercial empresarial de Espirito Santo to Pinhal visa ajudar todos os empreendedores
        da cidade, procurando ajudar a crescer e aprender novas maneiras de empreender.
      </p>
    </div>
    <div class="col-12 col-sm-4 text-center pt-5 pb-4">
      <img class="w-100" src="https://www.facesp.com.br/public/upload/catalogo/ac/ac_50001401/fachada_50001401.png" alt="First slide" style="max-height: 175px;">
    </div>  
    <div class="col-0"></div>
  </div>

  <hr class="my-4 w-100">

  <div class="row">
    <div class="col-12 col-sm-4 text-center pt-5 pb-4">
      <img class="w-100" src="https://www.pinhal.sp.gov.br/admin/globalarq/tv/290_220/5339c48404d0b658e69bd8398d42ea60.jpeg" alt="First slide" style="max-height: 175px;">
    </div>
    <div class="col-12 col-sm-8 pt-5"><h3><a href="https://www.pinhal.sp.gov.br/" class="text-dark">Prefeitura</a></h3>
      <p class="mt-2 ml-2"> A prefeitura de Pinhal que é responsavel por todos os órgãos públicos da cidade
      está com uma parceria com o Onde para ajudar a promover eventos, informações e utilizadade para 
      os cidadões de nossa querida cidade
      </p>
    </div>

  </div>
</div>