<%= render 'layouts/navbar' %>
<div style="height:350px;">
<%= render 'layouts/carouselmark' %>
</div>
<div class="fundo">
  <h4 class="">Melhores Ofertas <small><a href="./supermercado1" class="text-primary">(Ver todos)</a></small><hr></h4>
  <div class="row d-flex justify-content-around">
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
    <a href="./supermercado1">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class="text-dark"> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-around pt-3">
    <div class="col-4 rounded bannersp1 p-1 m-1">
      <div class="row">
        <div class="col-4">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <div class="col-8 text-light p-2" style="font-family: 'Akaya Kanadaka', cursive;">banner</div>
      </div>
    </div>
    <div class="col-3 rounded bannersp2 p-1 m-1"> 
      <div class="row">
        <div class="col-5">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <div class="col-7 text-light p-2" style="font-family: 'Akaya Kanadaka', cursive;">Cupom</div>
      </div>
    </div>
    <div class="col-4 rounded bannersp3 p-1 m-1"> 
      <div class="row">
        <div class="col-4">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <div class="col-8 text-light p-2" style="font-family: 'Akaya Kanadaka', cursive;">banner</div>
      </div>
    </div>
  </div>
</div>

<div class="bannersp4 mt-3">
  <div class="fundo pb-2">
    <h4 class="pt-3" style="color: #fff">Principais categorias <small><a href="./supermercado1" class="text-light float-right">(Ver todos)</a></small><hr style="background-color:#fff"></h4>

    <div class="row d-flex justify-content-around">
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Hortifruti</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Açougue</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Higiene e Limpeza</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Mercearia</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Pescados</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Bebidas</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Salgados</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Doces</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Padaria</p>
      </div>
      <div class="col-2 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 125px">
        </div>
        <p class="text-dark text-center font-weight-bold">Outros</p>
      </div>
    </div>
  </div>
</div>

<div class="fundo">
  <h4 class="pt-3">Favoritos dos usuários<small><a href="./supermercado1" class="text-primary">(Ver todos)</a></small><hr></h4>
  <div class="row d-flex justify-content-around">
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
    <a href="./supermercado1">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
  </div>
</div>
