<%= render 'layouts/navbar' %>
<div style="height:350px;">
<%= render 'layouts/carouselmark' %>
</div>
<div class="fundo">
  <h4 class="">Melhores Ofertas <small><a href="./supermercado1" class="text-primary">(Ver todos)</a></small><hr></h4>
  <div class="row d-flex justify-content-around">
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
    <a href="./supermercado1">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
    <div class="col-2 rounded border border-outline-secondary m-2" style="background-color:#fff">
      <div class="row">
        <div class="col-12">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 175px"> 
        </div>
        <div class="col-12 m-1">
          <small class="text-secondary"><s>R$ 35,00</s></small><br />
          <span class=""> R$ 25,00 <small class="text-success pl-2 font-weight-bold font-italic">24% off</small></span><br />
          <p class="text-secondary">Cápsulas Café L'or Guatemala</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-around pt-5">
    <div class="col-4 m-2">1</div>
    <div class="col-3 m-2">1</div>
    <div class="col-4 m-2">1</div>
    <div class="col-12">1</div>
  </div>

<!--
  <h4 class="pt-5">Principais categorias <small><a href="./supermercado1" class="text-primary">(Ver todos)</a></small><hr></h4>
  <div class="row d-flex justify-content-around">
    <div class="col-3 m-2">1</div>
    <div class="col-3 m-2">1</div>
    <div class="col-3 m-2">1</div>
    <div class="col-3 m-2">1</div>
    <div class="col-3 m-2">1</div>
    <div class="col-3 m-2">1</div>
  </div>
-->
</div>