<%= render 'layouts/navbar' %>

<div class="bannersp4 bg-light">
  <div class="fundo pb-2">
    <h2 class="pt-3 text-center text-dark oferta-texto-3" style="color: #fff">Faça compras sem sair de casa</h2>

    <div class="row d-flex justify-content-around">
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Hortifruti</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Açougue</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Limpeza</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Mercearia</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Pescados</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Bebidas</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Salgados</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Doces</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Padaria</p>
      </div>
      <div class="col-1 p-1 m-1 rounded" style="background-color:#fff">
        <div class="d-flex justify-content-center">
          <img src="https://http2.mlstatic.com/D_NQ_NP_809378-MLB43977759859_112020-O.webp" alt="..." class="m-2" style="height: 65px">
        </div>
        <p class="text-dark text-center font-weight-bold">Outros</p>
      </div>
    </div>
  </div>
</div>

<div class="fundo bg-light">
  <div class="row">
    <!-- Menu -->
    <div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2 menulateral mb-3 mt-3">
      <h5 class="text-center">Ordenar ofertas:</h5>
      <div class="d-flex justify-content-center">
        <select class="" name="option">
          <option value="" disabled selected>Relevância</option>
          <option value="1">Avaliação</option>
          <option value="2">Prazo</option>
          <option value="3">Desconto</option>
        </select>
      </div>
      <hr class="my-4 w-75">
      <div class="item pl-2">
        <a href="" class="texto-secundario h5">Higiene e Limpeza</a>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i> Acessórios <span class="text-success">(35)</span></div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i> Descartaveis <span class="text-success">(35)</span></div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i> Lavanderia <span class="text-success">(35)</span></div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i> inseticidas <span class="text-success">(35)</span></div>
        <div class="descricao pl-2"><i class="fa fa-square-o" aria-hidden="true"></i> Produtos <span class="text-success">(35)</span></div>
      </div>
      <hr class="my-4 w-75">
      <h5 class="pb-1">Preço</h5>
      <div class="pl-2">
        <h6>Até R$ 10 <small class="text-success">(12)</small></h6>
        <h6>R$ 10 a R$ 25 <small class="text-success">(92)</small></h6>
        <h6>Acima de R$ 25 <small class="text-success">(15)</small></h6>
        <h6></h6>
      </div>
    </div>

    <!-- Ofertas -->
    <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xl-10">
      <div class="row">
        
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://www.extra-imagens.com.br/Control/ArquivoExibir.aspx?IdArquivo=1182070226" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 5,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Amaciante Ype 1L - Confort e carinho</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://images-shoptime.b2w.io/produtos/01/00/img/52403/7/52403727_1GG.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold"> R$ 70.000 
                  <span class="text-success float-right pt-1">Entrada + 48x</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Chevrolet Camaro Amarelo 350cc - 2015</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://media-cdn.tripadvisor.com/media/photo-s/11/de/c2/a7/taca-tdf-tres-bolas-de.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 9,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Sorvete de três bolas kibom</p>
              </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://d129q82p91aw7f.cloudfront.net/d1c288dedb45/sutia-sem-bojo-com-renda-preto-44.200x200.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 29,90
                  <span class="text-success float-right pt-1">3x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Sutiã feminino luivitara preto marinho - 47 ao 70</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://cd.shoppub.com.br/rafale/media/cache/0c/1e/0c1e95e971cc26a45dff8214e6566682.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 75,90
                  <span class="text-success float-right pt-1">10x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Cortuno tático femino preto 37 ao 50</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://br.habcdn.com/files/dynamic_content/mesa-de-compensado-naval-2823620_gallery.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold"> R$ 299,90
                  <span class="text-success float-right pt-1">10x sem juros</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Armario compensado de madeira - cor beje</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://www.palaciodasferramentas.com.br/uploads/produtos/full/90689103-2016-10-9-8-57.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 10,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Martelo para matar tik toker - ultragas</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3  mt-1">
          <div class="card-deck">
            <div class="cards m-2">
              <img class="card-img-top img-fluid p-1 rounded-top p-3" src="https://a-static.mlcdn.com.br/1500x1500/sabao-em-po-omo-lavagem-perfeita-16kg/magazineluiza/223322600/3556921304d1908de39b2046e65de7fe.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="oferta-titulo text-bold">R$ 7,90
                  <span class="text-success float-right pt-1">À vista</span>
                </h5>
                <div style="line-height: 5px;">
                  <p class="card-text d-none d-xl-block oferta-titulo-2">Preço: <s>R$ 11,80</s> (Economia de 50%)</p>
                  <p class="card-text d-none d-xl-block oferta-titulo-2"><span style="color: #000">Tempo restante:</span> 10:59:01</p>
                  <p class="oferta-titulo-3 hometextcompany text-justify">Omo multilação progress - edição pós massacre</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button type="button" class="botao-oferta mt-4">Ver Oferta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <%= render 'layouts/pagination' %>
    </div>

  </div>
</div>