<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner pb-3">
    <div class="carousel-item active">
      <div class="textreview text-center pt-1">
        <h6>Amanda T. &nbsp;&nbsp;&nbsp;
          <i class="fa fa-star " aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;12 de Março de 2020 &nbsp;&nbsp;&nbsp;
        </h6>
        <h5 class="pt-2">Blusinha básica</h5>
        <div class="col-12 pt-2">
          <p>Pneu apresentou problemas no segundo dia não recomenndo 
          comprar este material
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="textreview text-center pt-1">
        <h6>Catapimbas T. &nbsp;&nbsp;&nbsp;
          <i class="fa fa-star " aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;12 de Março de 2020 &nbsp;&nbsp;&nbsp;
        </h6>
        <h5 class="pt-2">Calça Jeans 37</h5>
        <div class="col-12 pt-2">
          <p>Atendeu aos meus requisitos, mas não obtive nenhuma vantagem comparadas
          a outras marcas. Acho bom, mas ...
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="textreview text-center pt-1">
        <h6>Mauricio G. &nbsp;&nbsp;&nbsp;
          <i class="fa fa-star " aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;12 de Março de 2020 &nbsp;&nbsp;&nbsp;
        </h6>
        <h5 class="pt-2">Lojinha da Neide</h5>
        <div class="col-12 pt-2">
          <p>Acho a loja muito boa, sempre comprei aqui e sempre tive otimos preços. 
          OS vendedosres são muitos amigaveis...
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>