<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#"><span class="texto-primario">1</span></a></li>
    <li class="page-item"><a class="page-link" href="#"><span class="texto-secundario">2</span></a></li>
    <li class="page-item"><a class="page-link" href="#"><span class="texto-secundario">3</span></a></li>
    <li class="page-item">
      <a class="page-link" href="#"><span class="texto-secundario">Next</span></a>
    </li>
  </ul>
</nav>