<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Recuperar Senha</strong></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="md-form mb-3">
          <i class="fa fa-envelope-o" aria-hidden="true"></i> <label data-error="wrong" data-success="right" for="Form-email1">Seu email</label>
          <input type="email" id="Form-email1" class="form-control validate" placeholder="email@email.com ...">
        </div>
        <div class="text-center mb-3">
          <button type="button" class="btncontato form-control text-light">Recuperar</button>
        </div>

      </div>
    </div>
  </div>
</div>